body {
    margin: 0;
    background-color: darkgray;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.blue {
    grid-area: azul;
    background-color: midnightblue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: darkred;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: darkgoldenrod;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: darkgreen;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}